AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Resources:
  Listener:
    Type: AWS::Serverless::Api
    Properties:
      StageName: {{ StageName }}
      DefinitionUri: ./swagger.yml
  GetFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: get.handler
      Runtime: nodejs6.10
      Policies: AWSLambdaBasicExecutionRole
      FunctionName: get
      Tags: 
        AppNameTag: GetHandler
      Environment:
        Variables:
          NEW_GET_DOMAIN: {{ NEW_GET_DOMAIN }}
  OtherFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: other.handler
      Runtime: nodejs6.10
      Policies: AWSLambdaBasicExecutionRole
      FunctionName: other
      Tags: 
        AppNameTag: OtherHandler
      Environment:
        Variables:
          NEW_OTHER_DOMAIN: {{ NEW_OTHER_DOMAIN }}
  # See: https://github.com/awslabs/serverless-application-model/issues/59#issuecomment-348709355
  LambdaGetPermission:
    Type: "AWS::Lambda::Permission"
    DependsOn:
    - GetFunction
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref GetFunction
      Principal: apigateway.amazonaws.com
  LambdaOtherPermission:
    Type: "AWS::Lambda::Permission"
    DependsOn:
    - OtherFunction
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref OtherFunction
      Principal: apigateway.amazonaws.com